.top-form {
    -fx-background-color: #fff;
    -fx-border-color: #000;
    -fx-border-width: .2px .2px .4px .2px;
}

.close{
    -fx-background-color: transparent;
    -fx-cursor: hand;
}
.close:hover{
    -fx-background-color: #e74141;
}

.minimize{
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.minimize:hover{
    -fx-background-color: #dadada;
}

.nav-form {
    -fx-background-color: linear-gradient(to top right, #1e242e, #ae2d3c);
}

.nav-btn{
    -fx-background-color: transparent;
    -fx-cursor:hand;
    -fx-text-fill: #fff;
    -fx-font-size:14px;
    -fx-alignment: CENTER_LEFT;
}

.signout{
    -fx-background-color: #ae2d3c;
    -fx-background-radius: 8px;
    -fx-cursor: hand;
}

.signout:hover{
    -fx-background-color: #d62651;
}

.bg-white {
    -fx-background-color: #fff;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0, .3), 8,0,0,0);
    -fx-background-radius:8px;
}
.bg-white:hover{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0, 0.5), 8,0,0,0);
}
.card1{
    -fx-background-color: linear-gradient(to right, #2b428c, #2e58ab);
    -fx-background-radius: 0px 10px 10px 0px;
}
.card1-left {
    -fx-background-color: linear-gradient(to right, #213778, #2b428c);
}
.card2{
    -fx-background-color: linear-gradient(to right, #772d90, #a42fb8);
    -fx-background-radius: 0px 10px 10px 0px;
}
.card2-left{
    -fx-background-color: linear-gradient(to right, #641f7f, #772d90);
}
.card3{
    -fx-background-color: linear-gradient(to right, #9d2249, #cc1c5a);
    -fx-background-radius: 0px 10px 10px 0px;
}
.card3-left{
    -fx-background-color: linear-gradient(to right, #891a41, #9d2249);
}
.card:hover{
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 5,0,0,0);
}

/*ADD MOVIES*/
.add-textfield {
    -fx-background-color:#fff;
    -fx-background-radius:0px 5px 0px 0px;
    -fx-border-color: #1e242e;
    -fx-border-width:.8px;
    -fx-border-radius: 0px 5px 0px 0px;
    -fx-font-size: 13px;
}

.add-textfield:focused{
    -fx-border-color: #ae2d3c;
    -fx-border-width: 1.5px;
}
.insert-btn{
    -fx-background-color:#3149a1;
    -fx-background-radius:8px;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
    -fx-cursor:hand;
}
.insert-btn:hover{
    -fx-background-color: #3c71c4;
}
.update-btn{
    -fx-background-color:#337254;
    -fx-background-radius: 8px;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
    -fx-cursor: hand;
}

.update-btn:hover{
    -fx-background-color: #3c71c4;
}
.delete-btn{
    -fx-background-color:#962934;
    -fx-background-radius: 8px;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
    -fx-cursor: hand;
}

.delete-btn:hover{
    -fx-background-color: #d33d63;
}
.clear-btn{
    -fx-background-color: #933b80;
    -fx-background-radius: 8px;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
    -fx-cursor: hand;
}

.clear-btn:hover{
    -fx-background-color: #c242be;
}
.search{
    -fx-background-color: #fff;
    -fx-background-radius: 0px 10px 0px 0px;
    -fx-border-color: #1e242e;
    -fx-border-width: 1px;
    -fx-font-size: 14px;
    -fx-border-radius: 0px 10px 0px 0px;
    -fx-padding: 0px 0px 0px 25px;
}
.search:focused{
    -fx-border-color: #ae2d3c;
    -fx-border-width: 2px;
}
.table-view{
    -fx-background-color: #fff;
    -fx-background-radius: 10px;
    -fx-border-color: #ae2d3c;
    -fx-border-radius: 10px;
    -fx-fill: #fff;
}
.table-view .column-header-background{
    -fx-background-color: linear-gradient(to top left, #1e242e, #ae2d3c);
    -fx-background-insets: 0 0 0 0;
    -fx-background-radius: 10px 10px 0px 0px;
}

.table-view .column-header, .table-view .filler{
    -fx-background-color: transparent;
    -fx-size: 50px;
    -fx-fill:#fff;
}
.table-view .column-header .label{
    -fx-text-fill: #fff;
}

.spinner{
    -fx-background-color:#fff;
    -fx-border-color:#000;
    -fx-border-width:.5px;
}
.buy-btn{
    -fx-background-color: #2d7778;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
    -fx-background-radius: 8px;
    -fx-cursor: hand;
}
.buy-btn:hover{
    -fx-background-color: #3babb5;
}
.receipt-btn{
    -fx-background-color: #937729;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
    -fx-background-radius: 8px;
    -fx-cursor: hand;
}
.receipt-btn:hover{
    -fx-background-color: #d39948;
}
.combo-box{
    -fx-background-color:#fff;
    -fx-background-radius:5px;
    -fx-border-color: #1e242e;
    -fx-border-width:.5px;
    -fx-border-radius:5px;
}
.combo-box:focused{
    -fx-border-color:#ae2d3c;
    -fx-border-width:1px;
}

.info-card{
    -fx-border-color: #ae2d3c;
    -fx-border-radius: 10px 0px 0px 10px;
}
.label-info{
    -fx-border-color: #ae2d3c;
    -fx-border-radius: 0px 5px 0px 0px;
    -fx-border-width: .8px;
    -fx-padding: 5px;
    -fx-font-size: 14px;
}
.card-customer{
    -fx-background-color: #fff;
    -fx-background-radius: 8px;
    -fx-border-color: #ae2d3c;
    -fx-border-width: .8px;
    -fx-border-radius: 5px;
}
